<div class="settings-container">
  <div class="row">
    <div class="col">
      <h1>Widgets:</h1>
      <div class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action"
          [routerLink]="'weather'"
        >
            Weather
        </a>
        <a class="list-group-item list-group-item-action disabled" *ngFor="let widget of this.widgets">
          <span>{{ widget }}</span>
          <div class="custom-control custom-switch float-right">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
