@import '../../../scss/variables';
@import '../../../scss/fonts';

.weather-widget-container {
  background-color: $background-color;
  border-radius: $border-radius;
  padding: $margin;
  height: 100%;

  p, span {
    font-family: latolight;
    color: white;
  }

  span {
    &.header-main-data {
      font-size: 10rem;
      line-height: 8rem;
    }

    &.header-sub-data {
      font-size: 3rem;
    }

    &.quality {
      padding: 2px 4px;
      border-radius: $border-radius;

      &.good {
        background-color: green;
      }

      &.bad {
        background-color: red;
      }
    }
  }
}
