<div class="weather-widget-container">
  <div class="row">
    <div class="col-md-6 sm-12">
      <div class="row">
        <div class="col-sm-4">
          <span class="header-main-data">31</span>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <span class="header-sub-data">April</span>
            <span class="header-sub-data">Monday</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 sm-12">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <span class="header-sub-data text-right">Warszawa</span>
            <span class="header-sub-data text-right">Mazowieckie</span>
          </div>
        </div>
        <div class="col-sm-4">
          <span class="header-main-data">-2</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="chart">

    </div>
  </div>
  <div class="row">
    <p>Air quality: <span class="footer-label quality good">GOOD</span></p>
  </div>
</div>
