// colors
$background-color: rgba(28, 28, 28, 0.70);

// misc
$border-radius: 15px;

// assets
$default-wallpaper: url('../assets/default_wallpaper.jpg');
$icon-cog: url('../assets/icons/cog_light.png');
$icon-back-arrow: url('../assets/icons/back_arrow_light.png');